<div class="app-body">
  <div class="row app-header">
    <img class="header-image" src="https://cdn-images-1.medium.com/max/1200/1*yTMBzO8zfEhKr4Lky6pjZQ.png" alt="">
    <img style="left: 155px" class="header-image"
         src="https://cdn6.aptoide.com/imgs/4/9/1/49117c2e18fb708e724e09fd87a73cc2_icon.png?w=240" alt="">
    Tufin - Game Of Thrones Dashboard
    <button class="btn btn-primary btn-block add-char-btn" (click)="openDeveloperModal(null)">Add Character</button>
  </div>
  <div class="row">
    <div class="col-md-1 left-menu">
      <div class="left-menu-item" [routerLink]="'characters'">Characters</div>
      <div class="left-menu-item" [routerLink]="'dragons'">Dragons</div>
    </div>
    <div class="col-md-11">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
