.app-header {
    background: #eb6836;
    box-shadow: 1px 1px 1px 1px;
    font-size: 3em;
    padding-left: 28%;
    color: white;
    text-shadow: 2px 2px red;
    font-family: fantasy;
}

.app-body {
    background: #4b4646;
}

.card-body {
    padding: 1rem;
}

.header-image {
    height: 67px;
    position: absolute;
    left: 18px;
}

.example-viewport {
    height: calc(100vh - 85px);
    border-top: solid 1px white;
}

.card:hover {
    background-color: lightgray;
    cursor: pointer;
}

.card {
    box-shadow: 1px 1px 6px 3px #383d41;
    border-radius: 50px;
    margin: 10px;
}

.add-developer-btn {
    position: absolute;
    width: 20%;
    right: 20px;
    top: 15px;
    color: #b63032;
    border-radius: 20px;
    background: white;
}

.add-developer-btn:active {
    position: absolute;
    width: 20%;
    right: 20px;
    top: 15px;
    color: white;
    border-radius: 20px;
    background-color: #b63032 !important;
}

.delete-btn {
    position: absolute;
    right: 17%;
    width: 29%;
    top: -7px;
    border-radius: 50%;
}

.grid-header {
    color: white;
    font-weight: bold;
    width: 97%;
    margin-left: 0.9%;
    margin: 0.5em;
    font-size: 1.5em;
}