<div class="app-body" (onUpdateDeveloper)="updateDevelopersInfo($event)">
    <div class="row app-header">
        <img class="header-image" src="https://cdn-images-1.medium.com/max/1200/1*yTMBzO8zfEhKr4Lky6pjZQ.png" alt="">
        Welcome to Tufin Developer application
        <button class="btn btn-primary btn-block add-developer-btn" (click)="openDeveloperModal(null)">Add Developer</button>
    </div>
    <div class="row grid-header">
        <div class="col-md-4">First Name</div>
        <div class="col-md-4">Last Name</div>
        <div class="col-md-3">Age</div>
    </div>
    <cdk-virtual-scroll-viewport [itemSize]="78" class="example-viewport">
        <div class="card" *cdkVirtualFor="let developer of developers | async ; let index = index">
            <div class="card-body">
                <div class="row" (click)="openDeveloperModal(index)">
                    <div class="col-md-4">{{developer.firstName}}</div>
                    <div class="col-md-4">{{developer.lastName}}</div>
                    <div class="col-md-3">{{developer.age}}</div>
                    <div class="col-md-1"><button class="btn btn-danger btn-block delete-btn">X</button></div>
                </div>
            </div>
        </div>
    </cdk-virtual-scroll-viewport>
</div>
